# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://user:pass@host:port/databasename"

#Supported levels: trace: 10,  debug: 20,  info: 30,  warn: 40,  error: 50,  fatal: 60
LOG_LEVEL="info"

#baileys config
RECONNECT_INTERVAL=0
MAX_RECONNECT_RETRIES=5